nodered-informix/flows.json
[{"id":"45b6d8a7.d30848","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"de281c29.54865","type":"inject","z":"45b6d8a7.d30848","name":"","topic":"","payload":"tick","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":180,"wires":[["a8d7944d.d1d2d8","69b1377a.111ab8"]]},{"id":"12be97a9.4c7b48","type":"inject","z":"45b6d8a7.d30848","name":"","topic":"","payload":"poke","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["a8d7944d.d1d2d8","69b1377a.111ab8"]]},{"id":"a8d7944d.d1d2d8","type":"function","z":"45b6d8a7.d30848","name":"Generate Data","func":"function generateValue(scale) {\n    return Math.abs(Math.random() * scale * 2 - scale);\n}\nvar scale;\nif (msg.payload == 'tick') {\n    scale = flow.get('scale') || 0.5;\n    \n    if (scale > 0.5) {\n        var drop = Math.min(0.1, scale / 5.0);\n        scale = Math.max(0.5,scale - drop);\n    }\n    flow.set('scale', scale);\n    \n    var x=generateValue(scale);\n    \n    msg.payload={\n        id: '1',\n        tstamp: {'$date' : new Date().getTime() },\n        json_data: {\n        x: x\n        },\n        scale: scale\n    };\n    \n    return msg;\n}else if (msg.payload == 'poke' ) {\n    scale = flow.get('scale');\n    scale += 1.0;\n    node.log(scale);\n    flow.set('scale', scale);\n}\n","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["d8c47638.c12bb8","a4a5ef63.e7d0b"]]},{"id":"d8c47638.c12bb8","type":"debug","z":"45b6d8a7.d30848","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":610,"y":240,"wires":[]},{"id":"69b1377a.111ab8","type":"debug","z":"45b6d8a7.d30848","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":340,"y":380,"wires":[]},{"id":"a4a5ef63.e7d0b","type":"mqtt out","z":"45b6d8a7.d30848","name":"","topic":"datagen/datagen1","qos":"","retain":"","broker":"eb10c8e2.999e18","x":640,"y":300,"wires":[]},{"id":"eb10c8e2.999e18","type":"mqtt-broker","z":"","name":"msg-broker","broker":"msgbroker","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]